[submodule "googletest"]
	path = googletest
	url = https://github.com/abseil/googletest.git
[submodule "extern/tlx"]
	path = extern/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extern/RoutingKit"]
	path = extern/RoutingKit
	url = https://github.com/Hespian/RoutingKit.git
